.root {
    -fx-background-color:
            linear-gradient(#4568DC, #B06AB3),
            radial-gradient(center 50% 50%, radius 50%, #FFFFFF33, #00000033);
    -fx-border-color: linear-gradient(from 50px 0px to 50px 100px, reflect, black, purple);
    -fx-border-radius:40;
    -fx-border-insets:10;
    -fx-border-width:10;

}

.text-area {
    -fx-font-size:20;
    -fx-background-color: linear-gradient(from 50px 0px to 50px 50px, lightgrey, deepskyblue);
}

.v-box {
    -fx-spacing-size:100;
}

.button {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-font-size: 20;
    -fx-text-fill: lemonchiffon;
    -fx-background-color: linear-gradient(from 50px 0px to 50px 100px, reflect, purple, black);
}

.button:hover {
    -fx-background-color: linear-gradient(from 50px 0px to 50px 100px, reflect, darkmagenta, black);
}

.button:pressed {
    -fx-background-color: linear-gradient(from 50px 0px to 50px 100px, reflect, #5B0358, black);
}

#title {
    -fx-font-size: 130;
    -fx-font-family: Impact;
    -fx-text-fill: linear-gradient(from 50px 0px to 50px 100px, reflect, purple, black);
}