.event {
    -fx-border-radius:10;
    -fx-border-width:4;
    -fx-background-color: linear-gradient(from 50px 0px to 50px 50px, #3aa9d9, #2c6ec5);
}

.eventButton {
    -fx-font: bold 1.1em "Droid Serif";
    -fx-text-fill: #e1edec;
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#266d8c 0%,#1563b0 100%),
             #1246a1,
             #337dcc,
            radial-gradient(center 50% 50%, radius 100%,#3aa9d9,#2c6ec5);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
}

.eventButton:hover {

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#266d8c 0%,#125596 100),
            #1246a1,
            #337dcc,
            radial-gradient(center 50% 50%,radius 100%,#349dc9,#2a6bbf);
}

.eventButton:pressed {
     -fx-padding: 10 15 13 15;
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}

.eventButton .text {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
}

.descPart {
    -fx-font-size: 10pt;
    -fx-background-color: linear-gradient(to bottom, #f0f9ff, #cbebff, #a6dbff);
    -fx-background-radius: 10px;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.1, 1, 1);
}

.choicePart {
    -fx-font-size: 10pt;
    -fx-background-color: linear-gradient(to bottom, #f0f9ff, #cbebff, #a6dbff);
    -fx-background-radius: 10px;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.1, 1, 1);
}

.personPart {
    -fx-font-size: 10pt;
    -fx-background-color: linear-gradient(to bottom, #f0f9ff, #cbebff, #a6dbff);
    -fx-background-radius: 10px;
    -fx-padding: 10 20 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.1, 1, 1);
}

.eventTitle {
    -fx-font: bold 18pt "Droid Serif";
    -fx-text-fill: #e1edec;
}

.eventTitle .text {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
}