.nextPartyButton {
    -fx-background-color: linear-gradient(#ff512f, #dd2476);
    -fx-border-color: #a00c30;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-shape: "M 400 250 L 500 350 L 500 350 L 400 450 L 400 250";
}

.nextPartyButton:hover {
    -fx-background-color: linear-gradient(#fc5c7d, #DC4563);
    -fx-border-color: #b04060;
    -fx-border-width: 2px;
}
