.root {
    -fx-base: linear-gradient(lightblue, antiquewhite);
}

.anchor-pane {
    -fx-background-color: linear-gradient(to bottom, #ADCBE3, #E2E2E2),
                          radial-gradient(center 50% 50%, radius 50%, #FFFFFF33, #00000033);
    -fx-padding: 10;
    -fx-border-color: #CDD6D5; /* Softer border color */
    -fx-border-width: 2;
    -fx-border-radius: 5;
}
.text-field {
    -fx-background-color: linear-gradient(from 50px 0px to 50px 50px, #3aa9d9, #2c6ec5);
    -fx-font-size: 18px;
    -fx-text-fill: #e1edec;
    -fx-alignment: center;
    -fx-border-color: #95a5a6;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
}

.country-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(from 50px 0px to 50px 50px, #3aa9d9, #2c6ec5);
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #95a5a6;
    -fx-alignment: center;
}

.label[style*="background-color: blue"], .label[style*="background-color: red"] {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #95a5a6;
    -fx-min-height: 30px; /* Adjusted size for visibility */
    -fx-min-width: 120px;
    -fx-margin: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
}

.progress-bar {
    -fx-pref-width: 250px;
    -fx-pref-height: 20px;
    -fx-accent: #16a085;
    -fx-border-radius: 5px;
    -fx-border-color: #ffffff;
}
.progress-bar .bar {
    -fx-background-color: #16a085;
}

.progress-bar .track {
    -fx-background-color: linear-gradient(to bottom, #ADCBE3, #E2E2E2);
}

.main-vbox, .list-view {
    -fx-background-color: #A7B8D3; /* Unified lighter blue for consistency */
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 5px;
    -fx-border-color: #ffffff; /* Keeping or adjust as needed */
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.upper-hbox{
    -fx-spacing: 5;
}

.drop-shadow {
    -fx-radius: 5.0;
    -fx-offset-x: 3.0;
    -fx-offset-y: 3.0;
    -fx-color: rgba(0, 0, 0, 0.5);
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 5px;
}

.list-cell:filled:selected, .list-cell:filled:selected:hover {
    -fx-background-color: #BDCDE5; /* Lighter selected background color */
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: #CDD6D5; /* Light hover background color */
}

.list-cell {
    -fx-text-fill: #656565; /* Ensuring text is readable on lighter backgrounds */
    -fx-font-size: 16px; /* Adjust as needed */
}

.label.positive-effect, .label.negative-effect {
    -fx-text-fill: #2ecc71; /* Keeping distinct colors for specific effects */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
}