.root {
    -fx-base: linear-gradient(lightblue, antiquewhite);
}

.progress-bar {
    -fx-pref-width: 250px;
    -fx-pref-height: 20px;
    -fx-accent: #16a085;
    -fx-border-radius: 5px;
    -fx-border-color: #ffffff;
    -fx-background-color: transparent;
}
.progress-bar .bar {
    -fx-background-color: #16a085;
}

.progress-bar .track {
    -fx-background-color: transparent;
}

.upper-hbox{
    -fx-spacing: 5;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 5px;
}

.list-cell:filled:selected, .list-cell:filled:selected:hover {
    -fx-background-color: #BDCDE5; /* Lighter selected background color */
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: #CDD6D5; /* Light hover background color */
}

.list-cell {
    -fx-text-fill: #656565; /* Ensuring text is readable on lighter backgrounds */
    -fx-font-size: 16px; /* Adjust as needed */
}

.label.positive-effect, .label.negative-effect {
    -fx-text-fill: #2ecc71; /* Keeping distinct colors for specific effects */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
}