.root {
    -fx-border-color:linear-gradient(from 25px 1px to 100px 100px, reflect, #00A2E8, #F9F9F9);
    -fx-border-radius:40;
    -fx-border-insets:10;
    -fx-border-width:10;

}

#indicatorBox {
    -fx-font-size:15;
}

#jobBox {
    -fx-font-size:15;
}
.text-area {
    -fx-font-size:20;
    -fx-background-color: linear-gradient(from 25px 1px to 100px 100px,#00A2E8, #F9F9F9);
}

.button {
    -fx-font-size:20;
}

.v-box {
    -fx-spacing-size:100;
}

#infoBox {
    -fx-font-size:20;
}

.text-field{
    -fx-background-color: linear-gradient(from 25px 1px to 100px 100px,#00A2E8, #F9F9F9);
}

#roundLabel {
    -fx-font-size:20;
    -fx-border-color:linear-gradient(from 25px 1px to 100px 100px, reflect, #00A2E8, #F9F9F9);
    -fx-border-radius:40;
    -fx-border-insets:10;
    -fx-border-width:10;
}

#chart {
    -fx-border-color:linear-gradient(from 25px 1px to 100px 100px, reflect, #00A2E8, #F9F9F9);
    -fx-border-radius:10;
    -fx-border-width:4;
}