.root {
    -fx-background-color:
            linear-gradient(lightblue, antiquewhite),
            radial-gradient(center 50% 50%, radius 50%, #FFFFFF33, #00000033);
    -fx-border-color:linear-gradient(from 50px 50px to 100px 100px, reflect, lightgrey, deepskyblue);
    -fx-border-radius:40;
    -fx-border-insets:10;
    -fx-border-width:10;

}

.text-area {
    -fx-font-size:20;
    -fx-background-color: linear-gradient(from 50px 0px to 50px 50px, lightgrey, deepskyblue);
}

.text-field{
    -fx-background-color: linear-gradient(from 50px 0px to 50px 50px, lightgrey, deepskyblue);
}

.v-box {
    -fx-spacing-size:100;
}

.button {
    -fx-font-size:20;
}

#indicatorBox {
    -fx-font-size:15;
}

#jobBox {
    -fx-font-size:15;
}

#infoBox {
    -fx-font-size:20;
}

#roundLabel {
    -fx-font-size:20;
}

#chart {
    -fx-border-color:linear-gradient(from 25px 1px to 100px 100px, reflect, #00A2E8, #F9F9F9);
    -fx-border-radius:10;
    -fx-border-width:4;
}

#incomeButton {
    -fx-border-color:linear-gradient(from 25px 1px to 100px 100px, reflect, #00A2E8, #F9F9F9);
    -fx-border-radius:10;
    -fx-border-width:4;
}

#expensesButton {
        -fx-border-color:linear-gradient(from 25px 1px to 100px 100px, reflect, #00A2E8, #F9F9F9);
        -fx-border-radius:10;
        -fx-border-width:4;
}